.signUpContainer {
  position: absolute;
  right: 0;
  margin: 50px;
  height: 80%;
  max-width: 500px;
  padding: 16px;
  background-color: white;
}

/* Center the avatar image inside this container */
.imgContainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
.signUpAvatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Full-width inputs */
.signUpInput[type=text],
.signUpInput[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.signUpInput {
  /* background-color: #04AA6D; */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.signUpInput:hover {
  opacity: 0.8;
}

/* Set a style for all buttons */
.signUpButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.signUpButton:hover {
  opacity: 0.8;
}

.signUpTitle {
  margin: 10px;
}